#colors {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    input[type="checkbox"], label {
        margin: 0;
    }
}
